* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-pretoo {
    background-color: #000000; 
    width: 100%;
    text-align: center;
}

.separator-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
}

body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.logoo {
    display: flex;
    justify-content: center;
    align-items: center;

} 

.logoo img {
    width: 80px; 
}

.login-container {
    background-color: #fff;
    margin-top: 40px;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 648px;
    height: 257px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #000;
}

.login-container p {
    font-size: 12px;
    color: #666;
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"] {
    width: 576px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #000;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    border: none;
    width: 576px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: 0.2s;
}

.btn-primary:hover {
    background-color: #333;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 25px 0;
    position: relative;
}

.divider span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3f3f3;
    padding: 0 10px;
    color: #666;
    font-size: 15px;
}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 1px solid #999;
    width: 576px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    transition: 0.2s;
}

.btn-secondary a {
    color: inherit;
}

.btn-secondary:hover {
    background-color: #eaeaea;
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 30px 20px;
    }
}