.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
}

.container-produto {
    display: flex;
    max-width: 1200px;
}

.galeria-imagens-produto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.imagem-principal-produto {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0px 15px #706e6e0d;
}

.detalhes-produto {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo-produto {
    font-size: 2.2em;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
}

.preco-produto {
    font-size: 2.5em;
    font-weight: 800;
    color: #333;
    margin-bottom: 35px;
}

.metodo-pagamento {
    font-size: 0.6em;
    font-weight: 600;
    color: #555;
    vertical-align: super;
    margin-left: 8px;
}

.botoes-tamanho {
    display: flex;
    gap: 12px;
}

.botao-tamanho {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 22px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.botao-tamanho:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.acoes {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    border: none;
    width: 576px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: 0.2s;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 1px solid #999;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    transition: 0.2s;
}

.btn-secondary:hover {
    background-color: #eaeaea;
}

.voltar {
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}

.voltar img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.2s ease;
}

.voltar img:hover {
    transform: scale(1.1);
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}